.bg-gray {
  background-color: #e8f0f4;
  height: 350px;
  border-radius: 15px;
  padding-left: 50px;
  padding-top: 30px;
  margin-bottom: 20px;
}

.parameter-section {
  background-color: #e8f0f4;
  border-radius: 9px;
  padding: 0.8rem 1rem 2rem;
  height: 90%;
  font-weight: 600;
  font-size: 24px;
  color: #576367;
  margin: 20px 0px;
}

.top-history-img {
  width: 100%;
  object-fit: cover;
  border-radius: 9px;
}

.cropped-image {
  width: 300px;
  height: 200px;
  object-fit: none;
  object-position: center top;
  margin-bottom: 1rem;
}

.rate-box {
  font-weight: 400 !important;
  font-size: 15px;
  line-height: 40px;
  color: #576367;
}
