.box {
  margin: 2rem;
  position: relative;
  padding: 2rem;
  background-color: white;
  min-height: calc(100vh - 4rem);
  border-radius: 2rem;
}

.top-img {
  max-width: 100%;
  max-height: 25vh;
  object-fit: cover;
  margin-bottom: 25px;
}

.chart {
  height: 225px;
}

.card-text {
  font-style: normal;
  font-weight: 700;
  font-size: 20px !important;
  line-height: 27px;
  align-items: center;
}

.record-text {
  color: #68767a;/* hex*/
  font-size: 12.8px;
}
