
.filter-btn:hover {
  background-color: var(--nav-color-top) !important;
}

.filter-btn{
  border-radius: 2.8rem !important;
  width: 16rem !important;
  font-size: 1.5rem !important;
}

.p-button:focus {
  box-shadow: none !important;
}

.page-btn:hover {
  background: linear-gradient(to top, #77dce3, #16a1d5) !important;
}

.page-btn:hover span {
  color: white !important;
  transition: all 0.25s ease;
}

.page-btn:hover img {
  transition: all 0.25s ease;
  filter: brightness(0) invert(1);;
}

.p-inputtext {
  color: rgb(9, 9, 9) !important;
}

.p-dropdown:not(.register-dropdown) {
  display: flex;
  align-items: center;
  justify-content: center;
  border:none !important;
  border-radius: 100px !important;
}

.p-dropdown-label {
  color: white !important;
  background-color: var(--main-green) !important;
  box-shadow: none !important;
}

.p-dropdown-label:hover {
  background-color: var(--nav-color-top) !important;
}

.register-dropdown > .p-dropdown-label {
  color: black !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.register-dropdown > .p-dropdown-label:hover {
  background-color: rgb(255, 255, 255) !important;
}

.p-component:hover{
  box-shadow: none !important;
}

.p-dropdown:focus:not(.register-dropdown),
.p-dropdown:focus-within:not(.register-dropdown),
.p-dropdown .p-dropdown-label:focus,
.p-dropdown .p-dropdown-items:focus {
  border: none !important;
  box-shadow: none !important;
}

.filter-btn > .p-dropdown-label{
  background-color: #8fa7af !important;
  border: none !important;
}

.filter-btn > .p-dropdown-label:hover {
  background-color: gray !important;
}

.home-dropdown > .p-dropdown-label{
  background-color: var(--green-color) !important;
  border: none !important;
}

.p-radiobutton .p-radiobutton-box.p-highlight {
  background: var(--main-green) !important;
  border: var(--main-green) !important;
}

.p-radiobutton .p-radiobutton-box {
  border: none !important;
}

.p-knob	 {
  color: linear-gradient(to right, rgb(245, 24, 8), rgb(0, 0, 0)) !important;
}

.time-dropdown > .p-dropdown-label{
  background: linear-gradient(to top, #77dce3, #16a1d5)  !important;
  border: none !important;
  height: 4em;
  width: 10em;
  border-radius: 1.5em;
}

.time-dropdown .p-inputtext{
  padding-top: 20px;
}



