.sidebar-container {
  background-image: linear-gradient(180deg, #139fd5 0%, #7adee3 100%);
  width: 6.5rem;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 100000;
  transition: all 0.5s ease;
}

.sidebar {
  margin-right: 145px !important;
}

@media (max-width: 960px) {
  .sidebar-container {
    height: 100%;
  }
  .sidebar {
    margin-right: 175px !important;
  }
}

@media (max-width: 767px) {
  .sidebar-container {
    position: fixed;
    bottom: 0;
    width: calc(100vw - 4rem) !important;
    height: 8vh;
    z-index: 1000000;
    right: 2rem;
    left: 2rem;
    border-radius: 20px 20px 0 0;
    transition: all 0.5s ease;
  }
  .sidebar-container a {
    display: inline-block !important;
    margin: 0.5rem;
    display: flex;
    align-items: center;
  }
  .SlickBar {
    display: flex;
    flex-direction: row !important;
    top: 0 !important;
    z-index: 1000;
  }
  .logo {
    width: 20% !important;
    transition: all 0.5s ease;
    margin-bottom: 0 !important;
  }
  .logo-text {
    margin-top: 0px !important;
  }
  .sidebar {
    margin-right: 0 !important;
  }
  .sidebar-container a:hover {
    border-radius: 35px !important;
    width: 3.5rem !important;
    transition: all 0.5s ease;
  }
  .sidebar-container:hover .logo .logo-text {
    margin-left: 0 !important;
    transition: all 0.5s ease !important;
  }
  .sidebar-container:hover .logo img {
    margin-left: 0.8rem !important;
    transition: all 0.5s ease !important;
  }
}

.sidebar-container:hover {
  width: 13rem;
  transition: all 0.5s ease;
  height: 100%;
}

.sidebar-container a {
  text-decoration: none;
  color: var(--white);
  padding: 1.2rem 0;
  cursor: pointer;
  display: flex;
  padding-left: 1rem;
}

.sidebar-container a:hover {
  background-color: white;
  border-radius: 35px 0px 0px 35px;
  width: 100%;
  color: var(--nav-color-top) !important;
  transition: width 1s, background-color 0.5s;
}
*/ .sidebar-container a:hover img {
  filter: invert(49%) sepia(73%) saturate(563%) hue-rotate(150deg)
    brightness(93%) contrast(93%);
}

.logo {
  width: 100%;
  transition: all 0.5s ease;
  margin-bottom: 2.5rem;
}

.logo img {
  transition: all 0.5s ease !important;
}

.logo .logo-text {
  transition: all 0.5s ease !important;
  display: none;
  padding-right: 2em;
}

.sidebar-container:hover .logo-text {
  display: inline;
}

.sidebar-container:hover .logo .logo-text {
  margin-left: 2.5rem;
  transition: all 0.5s ease !important;
}
*/ .sidebar-container:hover .logo img {
  margin-left: 3.5rem;
  transition: all 0.5s ease !important;
}

.SlickBar {
  color: var(--white);
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 2rem;
  left: 25%;
  border-radius: 0 30px 30px 0;
  transition: 0.5s ease-in-out;
}

.sidebar-container:hover .SlickBar {
  left: 18%;
}

.sidebar-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: transparent !important;
  border: none !important;
}

.sidebar-item {
  margin-left: 0.5rem;
}
